@import '~@angular/material/theming';
 
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$primary: mat-palette($mat-blue);
$accent:  mat-palette($mat-pink, A200, A100, A400);
$warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($primary, $accent, $warn);
$app-typography: mat-typography-config();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

// Defines an additional mat-link class to decorate links diviating
// from the strict rules of material design for the sake of clarity
.mat-link {
  cursor: pointer;
  color: mat-color($primary) !important;
  text-decoration: underline;
}

// Helper to dig into themes
@function mat-theme-get($config, $level, $name) {
  @return map-get(map-get($config, $level), $name);
}

@mixin init-application-theme() {

  // Includes the core theme indepeneted material style
  @include mat-core($app-typography);

  // Include all the material theme styles
  @include angular-material-theme($app-theme);
 
  // Adds custom application specific style extensions
  a {
    &[mat-link] {
      @extend .mat-link;
    }
  }

  // Resets the default mat-menu padding
  .mat-menu-content {
    padding: 0 !important;
  }


  // Applies material typography rules globally
  body { @extend .mat-typography; }
}